<!doctype html>
<html>
	<head>
		<title>Spots Capsule</title>
		<script src="https://kit.fontawesome.com/653ef1bf98.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- Custom Styles -->
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat&family=Noto+Sans+JP:wght@500&family=Libre+Baskerville:wght@700&family=Itim&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
		<!-- mapbox -->
		<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		
		<!-- Navigation bar -->
		<nav class="navbar navbar-expand-md navbar-light mb-3 fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="/logo.png" width="150" height="45">
				</a>
  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    				<span class="navbar-toggler-icon"></span>
  				</button>

  				<div class="collapse navbar-collapse" id="navbarSupportedContent">
    				<ul class="navbar-nav mr-auto">
      					<li class="nav-item">
        					<a class="nav-link" href="/sights">Home</a>
      					</li>
      					<li class="nav-item">
        					<a class="nav-link" href="#">About</a>
      					</li>
						<% if(currentUser && (currentUser.isAdmin || currentUser.isPermAdmin)) { %>
							<li class="nav-item">
        						<a class="nav-link" href="/users">Users</a>
      						</li>
						<% } %>
   					 </ul>
    				<ul class="navbar-nav ml-auto">
						 <form action="/sights" method="GET" class="form-inline my-2 my-lg-0">
      					 	<input id="search" class="form-control mr-sm-2" type="search" name="search" placeholder="Search by name or location..." aria-label="Search">
       					    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    					 </form>
						 <% if(!currentUser){ %>
						 	<li class="nav-item">
                         		<a class="nav-link" href="/login">Login</a>
                         	</li>
		                 	<li class="nav-item">
                         		<a class="nav-link" href="/users/new">Sign-up</a>
                         	</li>
						 <% } else { %>
						 	<li class="nav-item">
                         		<a class="nav-link" href="/users/<%= currentUser._id %>">
									<img id="userPic" src="<%= currentUser.profilePic %>">
									<span class="d-md-none d-lg-block float-none float-lg-right"> <%= currentUser.username %></span>
								</a>
                         	</li>
		                 	<li class="nav-item">
                         		<a class="nav-link" href="/logout">Logout</a>
                         	</li>
						<% } %>
					</ul>
				</div>
  			</div>
		</nav>
		
		<!-- connect-flash -->
		<div class="container">
		  <% if(success && success.length > 0){ %>
		  	  <div class="alert alert-success" role="alert">
			  	<%= success %>
		  	  </div>
		  <% } %>
		  <% if(error && error.length > 0){ %>
		  	  <div class="alert alert-danger" role="alert">
			  	<%= error %>
		  	  </div>
		  <% } %>
	    </div>