<html>
<head>
	<title>Spots Capsule</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="wrapper">
		<h1>Update Profile</h1>
  		<div id="formContent">
			
    		<form action="/users/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      			<input type="text" name="user[username]" placeholder="Username" value="<%= user.username %>" required>
				<input type="email" name="user[email]" placeholder="Email" value="<%= user.email %>" required>
				<input type="number" name="user[age]" placeholder="Your age(optional)" value="<%= user.age %>">
				<textarea name="user[about]" placeholder="Something about yourself like preferred type of places to visit, your passion about travelling,etc" style="margin-bottom: 1rem"><%= user.about %></textarea>
				<div class="button-wrap">
  					<label class ="new-button"> Change Profile Image
  						<input type="file" name="image" accept="image/*">
					</label>	
				</div>
      			<input type="submit" value="Update" style="margin-top: 1rem">
    		</form>

    		<div id="formFooter">
      			<a href="/forgot">Change Password</a>
    		</div>

  		</div>
	</div>
</body>
</html>