<%- include("../partials/header") %>

<div class="container mb-3">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center">Review Page: <%= sight.placeName %></h1>
            <a href="/sights/<%= sight._id %>"><i class="fa fa-arrow-left"></i> Go back to the sight page</a>
            <div class="card" style="font-family: 'Noto Sans JP', sans-serif;">
                <div class="card-body">
                    <% if (sight.rating === 0) { %>
                    	<h5><em>No reviews yet.</em></h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star d-inline-block"></span>
                        <span class="fa fa-star <% if (sight.rating > 1.5) { %> d-inline-block <% } else { %> d-none <% } %>"></span>
                        <span class="fa fa-star <% if (sight.rating > 2.5) { %> d-inline-block <% } else { %> d-none <% } %>"></span>
                        <span class="fa fa-star <% if (sight.rating > 3.5) { %> d-inline-block <% } else { %> d-none <% } %>"></span>
                        <span class="fa fa-star <% if (sight.rating > 4.5) { %> d-inline-block <% } else { %> d-none <% } %>"></span>
                        <em>(total reviews: <%= sight.reviews.length %>)</em>
                    </p>
                    <p>
                        Current sight rating: <strong><%= sight.rating.toFixed(2) %></strong>
                    </p>
					<span style="float: right">
						<form action="/sights/<%= sight._id %>/reviews" method="GET">
							<label for="sortBy">Sort By:</label>
							<select name="sortBy" id="sortBy" onchange='if(this.value != 0) { this.form.submit() }'>
								<option value="0">Sort</option>
								<option value="ratings">Ratings</option>
								<option value="createdAt">Date</option>
							</select>
						</form>
					</span>
                    <h4>All reviews for this sight:</h4>
                    <hr style="margin-top: 0;">
                    <% sight.reviews.forEach((review) => { %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
                            <div>Review by: <strong><%= review.user.username %></strong></div>
                            <span><em><%= moment(review.updatedAt).fromNow() %></em></span> 
                        </div>
                        <div class="col-md-7">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                        </div>
						<div class="col-md-2">
							<% if(currentUser && review.user.id.equals(currentUser._id)){ %>
                            <a class="btn btn-sm btn-warning mb-2"
                               href="/sights/<%=sight._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/sights/<%= sight._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                            </form>
                            <% } %>
						</div>
                    </div>
                    <hr>
                    <% }); %>
                    <% } %>
                    <div>
                        <a class="btn btn-primary <% if (currentUser && sight.reviews.some(function (review) {return review.user.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/sights/<%= sight._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>