<%- include("../partials/header") %>

<div id="showCon" class="container">
	<div class="row">
		<!-- Sight -->
		<section class="col-12 col-md-8 mb-3">
			<div id="showCard" class="card mb-3 h-100">
     			<img src="<%= sight.showPic %>" class="card-img-top" style="max-height: 30em" alt="...">
     			<div class="card-body">
					<p class="card-text"><em><%= sight.desc %></em><a href="<%= sight.wiki %>"> Learn more...</a></p>
					<% if(currentUser) { %>
						<form id="imgForm" action="/sights/<%= sight._id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
							<label>
								Add an image of the sight<br>
								<input type="file" name="image" accept="image/*" multiple><br>
								<button>Submit</button>
							</label>	
						</form>
					<% } %>
					
					<!-- Carousel -->
					<div id="carousel" class="carousel slide mb-3" data-ride="carousel">
  						<ol class="carousel-indicators">
							<% sight.gallery.forEach((img, i) => { %>
    							<li data-target="#carousel" data-slide-to="<%= i %>" class="<%= (i === 0)?'active' : '' %>"></li>
							<% }) %>
  						</ol>
  						<div class="carousel-inner">
							<% sight.gallery.forEach((img, i) => { %>
    							<div class="carousel-item <%= (i === 0)?'active' : '' %>">
      								<img src="<%= img.thumbnail %>" class="d-block w-100" alt="user uploaded">
    							</div>
							<% }) %>
  						</div>
						<% if(sight.gallery.length > 1) { %>
  							<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    							<span class="sr-only">Previous</span>
  							</a>
							<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    							<span class="carousel-control-next-icon" aria-hidden="true"></span>
    							<span class="sr-only">Next</span>
  							</a>
						<% } %>
					</div>
					
					<% if(currentUser && currentUser.isAdmin) { %>
						<div>
							<a class="btn btn-sm btn-warning" href="/sights/<%= sight._id %>/edit">Edit</a>
							<form action="/sights/<%= sight._id %>?_method=DELETE" method="POST" style="display: inline">
								<button class="btn btn-sm btn-danger" style="padding-top: 3px">Delete</button>
							</form>
						</div>
					<% } %>
        		</div>
			</div>
		</section>
		<!-- Map Box -->
		<section id="map" class="d-none d-sm-block col-sm-12 col-md-4"></section>
	</div>
		
		<!-- Review -->
		<section id="reviewSec" class="card-body mt-3 mb-5 mx-auto">
           		 <% if (sight.rating === 0) { %>
                	 <h5><em>No reviews yet.</em></h5>
                 <% } else { %>
                     <p>
                        <span class="fa fa-star d-inline-block"></span>
                        <span class="fa fa-star <% if (sight.rating > 1.5) { %> d-inline-block <% } else { %> d-none <% } %>"></span>
                        <span class="fa fa-star <% if (sight.rating > 2.5) { %> d-inline-block <% } else { %> d-none <% } %>"></span>
                        <span class="fa fa-star <% if (sight.rating > 3.5) { %> d-inline-block <% } else { %> d-none <% } %>"></span>
                        <span class="fa fa-star <% if (sight.rating > 4.5) { %> d-inline-block <% } else { %> d-none <% } %>"></span>
                        <em>(total reviews: <%= sight.reviews.length %>)</em>
                    </p>
                    <p>
                        Current rating: <strong><%= sight.rating.toFixed(2) %></strong>
                    </p>
					<span style="float: right">
						<form action="/sights/<%= sight._id %>" method="GET">
							<label for="sortBy">Sort By:</label>
							<select name="sortBy" id="sortBy" onchange='if(this.value != 0) { this.form.submit() }'>
								<option value="0">Sort</option>
								<option value="ratings">Ratings</option>
								<option value="createdAt">Date</option>
							</select>
						</form>
					</span>
                    <h4>Latest reviews for this sight:</h4>
                    <hr style="margin-top: 0;">
                    <% sight.reviews.slice(0, 5).forEach(review => { %>
                    <div class="row">
                        <div class="col-md-3 col-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
                            <div>
								Review by:
								<strong><a href="/users/<%= review.user.id %>"><%= review.user.username %></a></strong>
							</div>
                            <span><em><%= moment(review.updatedAt).fromNow() %></em></span>
                        </div>
                        <div class="col-md-6 col-5">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <em>"<%= review.text %>"</em>
                            </p>
						</div>
						<div class="col-md-3 col-4">
                            <% if(currentUser && review.user.id.equals(currentUser._id)){ %>
                            	<a class="btn btn-sm btn-warning" href="/sights/<%= sight._id %>/reviews/<%= review._id %>/edit">Edit</a>
							<% } %>
							<% if(currentUser && (review.user.id.equals(currentUser._id) || currentUser.isPermAdmin )){ %>
                            	<form action="/sights/<%= sight._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST" style="display: inline">
                                	<input type="submit" class="btn btn-sm btn-danger" value="Delete">
                            	</form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/sights/<%= sight._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary btn-lg <% if (currentUser && sight.reviews.some( review => review.user.id.equals(currentUser._id))) { %> disabled <% } %>" href="/sights/<%= sight._id %>/reviews/new">
                            Write a New Review
						</a>
                    </div>
                </section>
		
</div>

<script>
	const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
	const coord = <%- JSON.stringify(sight.geometry.coordinates) %>;
</script>
<script type="text/javascript" src="/scripts/mapbox.js"></script>
<script type="text/javascript" src="/scripts/changePic.js"></script>
<%- include("../partials/footer") %>